*.md
.github/*
.git
.gitignore

.tox
**/.tox
.pytest_cache
**/.pytest_cache
.DS_Store
**/.DS_Store

__pycache__
dist
*.log

.venv
venv
.env**
env.**
**secrets**
.python_version
**/.python_version
**/*.egg-info

**/Dockerfile
